<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>Install</h2>
<p>
  gem install Devise
</p>
<p>
  This installs the following gems:
  <ul>
    <li>twitter-bootstrap</li>
    <li>devise</li>
  </ul>
</p>
